.popup__job {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    margin-left: 36px;
    max-width: 358px;
    padding: 0 0 10px 0;
    margin-bottom: 48px;
    border: none;
    border-bottom: 1px solid rgba( 0, 0, 0, .2);
}

@media screen and (max-width: 768px) {
    .popup__job {
        max-width: 238px;
        margin-left: 22px;
        margin-bottom: 45px;
    }
}