.profile__name {
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    margin-bottom: 16px;
    margin-top: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 288px;
}


@media screen and (max-width: 768px) {
    .profile__name {
        font-size: 27px;
        line-height: 33px;
        text-align: center;
        margin-bottom: 0;
        max-width: 190px;
    }
}

